@import "../../styles/mixin.scss";
.clients {
    position: relative;
    width: 100%;
    height: 100%;
    background: #f5f5f5;
    padding: 135px 0;
    text-align: center;
    @include for-phone-only {
        padding: 115px 20px 28px 20px;
    }
    .customshape {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }

    .customshape svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 75px;
    }

    .customshape .shapefill {
        fill: #ffffff;
    }
    .title {
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        margin-bottom: 68px;
        @include for-phone-only {
            margin-bottom: 49px;
        }
    }
    img {
        width: 1044px;
        height: 423px;
        object-fit: contain;
        @include for-phone-only {
            width: 317px;
            height: 321px;
        }
    }
}
