@import "../../styles/mixin.scss";

.menuButton {
    position: absolute;
    top: 24px;
    right: 20px;
    z-index: 2000;
    display: none;
    @include for-phone-only {
        display: block;
    }

    img {
        width: 14px;
        height: 13px;
        object-fit: contain;
    }
}
