@import "../../styles/mixin.scss";

.menuButton {
    position: absolute;
    top: 40px;
    right: 20px;
    z-index: 2000;
    display: none;
    @include for-phone-only {
        display: block;
    }

    .burgerMenu {
        position: relative;
        width: 24px;
        height: 100%;
        span {
            display: block;
            background: #000;
            border-radius: 2px;
            will-change: transform;
        }
        .burgerOpen {
            top: 50%;
            left: 50%;
            width: 20px;
            z-index: 2;
            overflow: hidden;
            position: absolute;
            transform: translate(-50%, -50%);
            padding-bottom: 2px;
            span {
                height: 2px;
                width: 24px;
            }
            :first-child {
                transition: 0.4s ease-in all;
            }
            :nth-child(2) {
                margin: 6px 0;
                transition: 0.5s ease-in all;
            }
            :last-child {
                transition: 0.6s ease-in all;
            }
        }
        .burgerClose {
            top: 50%;
            left: 50%;
            width: 20px;
            height: 20px;
            z-index: 2;
            overflow: hidden;
            position: absolute;
            transform: translate(-50%, -50%) rotate(45deg);
            span {
                height: 2px;
                width: 24px;
                position: absolute;
            }
            :first-child {
                height: 2px;
                width: 100%;
                top: calc(50% - 1px);
                transition: 0.4s ease-in all;
            }
            :nth-child(2) {
                width: 2px;
                height: 100%;
                left: calc(50% - 1px);
                transition: 0.4s ease-in all;
            }
        }
    }
}
.t1 {
    transform: translate(-105%, 0%);
}
.t2 {
    transform: translate(0%, -105%);
}
.menuActive {
    .burgerClose {
        span {
            transition-delay: 0.5s !important;
        }
    }
}
.menuInactive {
    .burgerOpen {
        span {
            transition-delay: 0.5s !important;
        }
    }
}
