@import '../../styles/settings/_settings';
.header{
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(312.55deg, $color-secondary 2.02%, rgba(255, 255, 255, 0) 63.61%);
    background-size: 130% 100%;
    background-position: bottom left;
    padding-top: 175px;
    padding-bottom: 85px;
    .content{
        max-width: 732px;
        text-align: center;
        margin: 0 auto;
        h1{
            font-weight: 700;
            font-size: 48px;
            line-height: 56px;
            padding-bottom: 45px;
        }
        h4{
            font-size: 24px;
            line-height: 28px;
            font-weight: 400;
            padding-bottom: 23px;
        }
        p{
            font-size: 18px;
            line-height: 21px;
            color: #767676;
            font-weight: 400;
        }
    }

    .container{
        margin-top: 170px;
        text-align: center;
        .wrapper{
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 62px;
            margin-top: 20px;
            .card{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
               
                .icon{
                    width: 120px;
                    height: 120px;
                    background: #fff;
                    box-shadow: 4px 10px 29px rgba(0, 0, 0, 0.2);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    margin-bottom: 40px;
                    img{
                        width: 65px;
                        height: 65px;
                        object-fit: contain;
                    }
                }
            }
        }
    }







    .customshape {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }
    
    .customshape svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 75px;
    }
    
    .customshape .shapefill {
        fill: #FFFFFF;
    }
}